.page-item.active .page-link {
    background-color: #343a40 !important;
    border-color: #343a40 !important;
    color:#fff !important;
}

.page-link {
    color: #343a40 !important;
}

.page-link:hover {
    color: black !important;
}

.page-link:focus {
    box-shadow: 0 0 0 0.2rem rgb(109 110 111 / 25%) !important;
}